.nav {
	grid-area: n;
	background-color: rgb(200, 138, 138);
}

.item {
	padding: 20px;
	text-decoration: none;
	color: white;
}
.active{
	text-decoration: none;
	color: gold
}
.item img {
	width: 70px;
	padding: 5px;
}