.dialogs {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "d m";
}

.dialogsitem {
    grid-area: d;
    padding: 10px;
}
.messages {
    grid-area: m;
    padding: 10px;
}

